# Dependencies
node_modules/

# Build output
.next/
out/
dist/

# System files
*.log
*.exe

# Environment files (IMPORTANT)
.env*
!.env.example

# OS-specific
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/
